In [1]:
from darts.models import NHiTSModel
from darts import TimeSeries
import utils

/opt/conda/lib/python3.11/site-packages/statsforecast/utils.py:231: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  "ds": pd.date_range(start="1949-01-01", periods=len(AirPassengers), freq="M"),

In [3]:
df = utils.load_data()

In [4]:
df

,FFED,US_PERSONAL_SPENDING_PCE,US_CPI,US_TB_YIELD_10YRS,US_UNEMPLOYMENT_RATE,SNP_500
DATE,,,,,,
1962-01-31,2.022727,353.200012,NaN,4.083182,5.800000,69.067726
1962-02-28,2.388889,353.200012,30.040001,4.039444,5.800000,70.208336
1962-03-31,2.852273,354.045441,30.062273,3.930454,5.545455,70.291817
1962-04-30,2.800000,357.399994,30.139999,3.843000,5.600000,68.047997
1962-05-31,2.431818,359.063629,30.186363,3.873636,5.595455,62.994545
...,...,...,...,...,...,...
2024-04-30,5.330000,19265.472656,311.588531,4.539091,3.804545,5112.492676
2024-05-31,5.330000,19306.503906,312.718506,4.482273,3.904546,5235.225586
2024-06-30,5.330000,19386.400391,313.214569,4.305263,4.000000,5415.140625
2024-07-31,5.330000,19441.257812,313.153015,4.248636,4.104546,5538.004395
2024-08-31,5.330000,NaN,313.267242,3.869000,4.300000,5464.018066